$bgcolor: #c6c9cb;
$familyfont: "Quicksand";
$mouseStyle: pointer;

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $familyfont;
  width: 100%;
  height: 100%;
}

/*==========header====================*/
header {
  background: $bgcolor;
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .avatar img {
    border-radius: 50%;
    width: 240px;
    height: 260px;
    margin: 20px;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    width: 230px;
    i {
      width: 50px;
      height: max-content;
      transition: ease-in-out 200ms;
    }
    i:hover {
      cursor: $mouseStyle;
    }
  }

  .contact-details {
    background-color: #333;
    overflow: hidden;
    color: #fff;
    width: max-content;
    border-radius: 15px;
    transition: ease-in-out 200ms;
    p {
      text-align: center;
      margin: 15px;
    }
  }
  .contact-details:hover {
    background-color: #b1b4b6;
    color: black;
    cursor: $mouseStyle;
  }
}

/*==================nav=====================*/
nav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
  height: 50px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;
      font-size: 17px;
      transition: ease-in-out 200ms;
    }
  }
  a:hover {
    background-color: $bgcolor;
    color: black;
  }
}

/*=================Main====================*/

main {
  background-color: $bgcolor;
  .about-tecno {
    display: flex;
    flex-direction: row;
  }
  .about-container {
    width: 60%;
    height: max-content;
    margin: 20px;

    p {
      width: 100%;
      text-align: justify;
    }
  }
  .bar {
    border-right: solid #333 50px;
  }
  .technologies-container {
    width: 40%;
    height: max-content;
    margin: 20px;
    .tecno-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        margin-left: 20px;
        text-align: justify;
      }
    }
    i:hover {
      cursor: $mouseStyle;
    }
  }
  .projects {
    height: max-content;
    width: 100%;
    article {
      height: 400px;
    }
    .six {
      width: 60%;
    }
    .four {
      width: 40%;
    }
    .five {
      width: 50%;
    }
    article img {
      transition: ease-in-out 300ms;
      width: 100%;
      height: 100%;
    }
    article img:hover {
      opacity: 0.4;
      cursor: $mouseStyle;
    }
    div {
      display: flex;
      flex-direction: row;
    }
  }
  .divider-title {
    height: 50px;
    background-color: #333;
    margin: 0;
    border: none;
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      color: #f2f2f2;
      height: 50px;
    }
  }
  .cv-download {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
      width: 200px;
    }
  }
  .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    .img-contact {
      width: 300px;
    }
    .contact-form {
      width: 500px;
      height: max-content;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: #737173;
      padding: 20px;
      width: 100%;
      max-width: 440px;
      margin-bottom: 30px;
      input[type="text"],
      textarea,
      input[type="email"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        margin-right: 0px;
        margin-left: 0px;
        resize: vertical;
      }
      textarea#subject {
        height: 200px;
      }
      label {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
      }
      input[type="submit"] {
        background-color: #1255a2;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: $mouseStyle;
        font-family: $familyfont;
      }
      input[type="submit"]:hover {
        background-color: #1872d9;
      }
    }
  }
}

/*======================Footer=======================*/

footer {
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==================media==============================*/

@media only screen and (max-width: 925px) {
  header {
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar img {
        border-radius: 50%;
        width: 200px;
        height: 220px;
        margin: 20px;
      }
      .general-info {
        h1,
        h2 {
          text-align: center;
        }
        .social-media {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .contact-details {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  main {
    .projects {
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      margin-top: 50px;
      margin-bottom: 50px;
      div {
        display: flex;
        flex-direction: column;
      }
      article {
        width: 100%;
      }
    }
    .cv-download {
      width: max-content;
      display: flex;
      justify-content: center;
    }
    .contact {
      display: flex;
      flex-direction: column;
    }
    .projects {
      .six {
        width: 586px;
      }
      .four {
        width: 586px;
      }
      .five {
        width: 586px;
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  main {
    .about-tecno {
      display: flex;
      flex-direction: column;
    }
    .about-container {
      margin-left: auto;
      margin-right: auto;
    }
    .technologies-container {
      margin-left: auto;
      margin-right: auto;
      .tecno-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .bar {
      display: none;
    }
  }
}

@media only screen and (max-width: 620px) {
  main {
    .cv-download .arrow {
      display: none;
    }
    .projects {
      .six {
        width: 386px;
        height: 200px;
      }
      .four {
        width: 386px;
        height: 200px;
      }
      .five {
        width: 386px;
        height: 200px;
      }
    }
    .contact {
      .img-contact {
        width: 200px;
      }
      .contact-form {
        width: 300px;
        height: max-content;
      }
    }
    textarea#subject {
      height: 150px;
    }
    .technologies-container {
      width: 60%;
      height: max-content;
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
      .tecno-content p {
        text-align: left;
      }
    }
  }
}

@media only screen and (max-width: 415px) {
  main {
    .projects {
      .six {
        width: 256px;
        height: 140px;
      }
      .four {
        width: 256px;
        height: 140px;
      }
      .five {
        width: 256px;
        height: 140px;
      }
    }
    .about-container p {
      text-align: left;
    }
  }
  nav ul li a {
    padding: 10px 12px;
    font-size: 12px;
  }
  ul {
    padding: 0;
  }
}
